/* Custom CSS for Swiper Pagination Bullets */
.swiper-pagination-bullet {
    background-color: black !important; 
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #00474F !important;
}
